@import '~styles/settings';

.container {
  position: relative;
  max-width: 200px;

  &.calendar {
    min-width: 300px;
    max-width: 300px;

    button {
      display: block;
      width: 100%;
      color: #222222;
      background-color: #E6E6E6;
      border-color: #E6E6E6;
    }
  }

  &.block {
    width: 100%;
    max-width: 100%;
    min-width: auto;
    button {
      width: 100%;
      min-width: auto;
    }
    .drButton {

      svg {
        position: relative;
        bottom: -2px;
        margin-left: 10px;
        fill: #941333;
      }
    }
  }

  &.light {
    button {
      display: block;
      width: 100%;
      color: #222222;
      background-color: #E6E6E6;
      border-color: #E6E6E6;
    }
    .drButton {
      svg {
        fill: #941333;
      }
    }
  }

  label {
    color: #222222;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    padding-bottom: 10px;
    display: block;
  }

  &.label {
    .drMenu {
      top: 70px;
    }
  }

  &.disabled {
    
    button {
      pointer-events: none;
      opacity: 0.4;
    }
  }
}

.drButton {
  background-color: #941333;
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  height: 40px;
  padding: 0;
  padding-left: 13px;
  padding-right: 13px;
  text-align: left;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;

  svg {
    fill: white;
    path {

    }
  }
}


.drMenu {
  z-index: 1;
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 40px;
  left: 0;
  box-sizing: border-box;
  border: 2px solid $color-dark-red;
  background-color: $color-white;

  li {
    height: 18px;
    width: 100%;
    background-color: $color-white;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: capitalize;
    font-size: 16px;
    padding: 0 13px;
    cursor: pointer;
    
    &:hover, &.active {
      background-color: $color-gray-5;
      font-weight: normal;
    }
  }
}
