@import '~styles/settings';

.opacityModal {
  align-items: center;
  color: $color-gray-1;
  font-size: $font-size-big;
  display: flex;
  height: 46px;
  padding: 24px;
  width: 330px;
  user-select: none;
}

.slider {
  margin: 0 8px;
}

:global {
  .opacityTooltip {
    color: $color-gray-1 !important;
    background-color: $color-background !important;
    border: 1px solid $color-black;
    border-bottom: none;
    border-radius: 0;
    margin-left: 0 !important;
    padding: 0;
    opacity: 1 !important;
  
    &:before, &:after {
      display: none;
    }

    .rc-slider-handle {
      transform: translate(2px, 2px) !important; // it's a workaround, `translate` doesn't work when we explicitly pass it through `handleStyle` prop
    }
  }
}