.l-page {
  height: calc(100% - #{$c-header-height});
}

.l-sidebar {
  position: fixed;
  display: block;
  width: $c-sidebar-width;
  height: 100%;
  top: 0;
  left: 0;
  z-index: $z-index-3;
}

.l-content {
  position: relative;
  width: calc(100% - #{$c-sidebar-width});
  height: 100%;
  left: $c-sidebar-width;
  z-index: $z-index-1;
}

.page-content {
  position: relative;
}