@import '~styles/settings';

.c-modal {
  padding: 70px 80px;
  max-width: 630px;
  background-color: $color-white;
  font-family: $font-family-3;
  color: $color-gray-1;
  padding: 70px 83px;

  @media (max-width: 600px) {
    padding: 30px 40px;
  }
  
  .modal-title {
    font-size: 20px;
    margin-bottom: 27px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }

  .modal-text {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
  }

  .modal-button-wrapper {
    padding-top: 24px;
    width: 100%;
    text-align: center;

    .modal-button {
      text-transform: initial;
      font-family: $font-family-3;
      font-size: 18px;
      line-height: 24px;
      font-weight: 500;
      color: $color-white;
      padding: 0 0;
      background-color: #941333;
      height: 40px;
      width: 196px;

      &:hover {
        background-color: $color-dark-red;
        opacity: 0.8;
      }
    }
  }
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 10;
}
