@import '~styles/settings';

.c-map {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: $z-index-1;

  .mapboxgl-popup {
    max-width: 242px;
    font-size: 14px;
    line-height: 20px;

    strong {
      font-weight: 700;
    }
    span { 
      color: #941333;
    }
  }
}
